/* Write your code here. */
.emojis-container {
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 770px;
}
.emojis-bg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #9796f0;
}
